/* var */
:root {
  --background-white: #ffffff;
  --background-gray: #eeeeee;
  --background-light-gray: #f2f2f2;
  --background-mid-gray: #ebebeb;
  --background-image-color: #cacacb;
  --background-blue: #81b3d2;
  /* rgb(129, 179, 210) */
  --background-mid-blue: #669ec0;
  --background-deep-blue: #5496bd;
  --background-brown: #766357;
  --background-mid-brown: #604e43;
  --background-deep-brown: #503e33;
  --background-footer: #ffffffe6;
  /* rgba(255, 255, 255, 0.9) */
  --color-black: #000000;
  --color-natural-black: #231f20;
  --color-blacky: #333333;
  --color-white-black: #666666;
  --color-grayny: #bdbbbc;
  --color-dark-gray: #a9a9a9;
  --color-midy-gray: #e5e5e5e5;
  --color-dark-white: #ffffff4d;
  /* rgba(255, 255, 255, 0.3) */
  --color-white: #ffffff;
  --color-blue: #81b3d2;
  --color-brown: #766357;
}
/* global */
body {
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  background-color: var(--background-light-gray);
}
a {
  color: inherit;
  text-decoration: none;
}
svg {
  fill: currentColor;
}
img {
  max-width: 100%;
  height: auto;
}
/* buttons */
.button {
  font-weight: 700;
  vertical-align: middle;
  text-align: center;
  color: var(--color-white);
  text-transform: uppercase;
  border: none;
}
/* buttons  - стиль-1  сине-белый */
.button-style1 {
  background-color: var(--color-blue);
}
.button-style1:hover {
  background-color: var(--background-mid-blue);
}
.button-style1:active {
  color: var(--color-dark-white);
  background-color: var(--background-deep-blue);
}
/* buttons  - стиль-2  коричнево-белый */
.button-style-2 {
  background: var(--background-brown);
}
.button-style-2:hover {
  background-color: var(--background-mid-brown);
}
.button-style-2:active {
  color: var(--color-dark-white);
  background-color: var(--background-deep-brown);
}
/* header */
/* .header {
  height: 56px;
} */
.nav {
  font-weight: 700;
  line-height: 26px;
}
/*
.logo {
  position: absolute;
  z-index: 2;
} */
.nav-list {
  list-style: none;
}
.nav-list-current {
  color: var(--color-brown);
}
.nav-list a:hover {
  color: var(--color-blue);
}
.nav-list a:active {
  color: var(--color-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}
/* footer */
.footer {
  line-height: 26px;
}
.footer-social-list {
  list-style: none;
}
.footer-contacts-link {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}
.footer-social-button {
  display: block;
  width: 46px;
  height: 48px;
  color: var(--color-white);
}
.footer-copyright-icon {
  color: var(--color-natural-black);
}
.footer-copyright-icon:hover {
  color: var(--color-blue);
}
.footer-copyright-icon:active {
  color: var(--color-grayny);
}
/* main-header */
.main-header {
  position: relative;
  padding: 77px;
  background: var(--background-image-color) url("../img/background-main.jpg") no-repeat;
}
.main-header-picture {
  display: block;
  margin: auto;
}
.main-header::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 57px;
  background-image: url("../img/icons/main-header-mask.svg");
}
/* 5 reasons */
.reasons {
  text-align: center;
}
.reasons-header-lead {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}
.reasons-header-text {
  line-height: 26px;
}
.reasons-list {
  list-style: none;
}
.reasons-item-title {
  font-weight: 700;
  font-size: 21px;
}
.reasons-features-list {
  list-style: none;
}
.reasons-features-item-title {
  font-weight: 700;
  font-size: 21px;
}
.reasons-items-box-blue {
  color: var(--color-white);
  background: var(--color-blue);
}
.reasons-items-box {
  background: var(--background-gray);
}
/* search */
.search-header-lead {
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
}
.search-header-text {
  line-height: 24px;
}
.search-button {
  width: 568px;
  padding: 30px 0;
  font-size: 21px;
  line-height: 26px;
}
/* search form */
.search-form {
  box-sizing: border-box;
  width: 568px;
  min-height: 395px;
  padding: 55px;
}
.search-form-group {
  font-weight: 700;
  line-height: 26px;
}
.search-form-input {
  box-sizing: border-box;
  padding: 6px 0;
  overflow: hidden;
  font: inherit;
  text-transform: inherit;
  background-color: var(--background-light-gray);
  border: none;
}
.search-form-date {
  width: 308px;
}
.search-form-number {
  width: 38px;
  text-align: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.search-form-input:hover {
  background-color: var(--background-mid-gray);
}
.search-form-input:focus {
  background: none;
  border: 2px solid var(--color-midy-gray);
  border-radius: 0;
  outline: none;
  box-shadow: none;
}
.search-form-button {
  width: 38px;
  height: 38px;
  padding: 0;
  color: var(--color-dark-gray);
  background-color: var(--background-light-gray);
  border: none;
}
.search-form-button:hover {
  color: var(--color-black);
}
.search-form-button:active {
  color: var(--color-blue);
}
.search-form-submit-button {
  width: 458px;
  padding: 13px 0;
  font-size: 21px;
  line-height: 26px;
}
/* убираем стрелочки у намберс, как установить и автоматизировать вендорные префиксы? */
/*
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
} */
.filter-form {
  width: 1200px;
  height: 217px;
  background-image: url("../img/background-catalog.jpg");
}
/* Прячем невидимые эементы */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}
.wrapper {
  width: 1200px;
  background-color: var(--background-white);
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}
.container {
  margin-right: auto;
  margin-left: auto;
}
.color-text-1 {
  color: var(--color-blacky);
}
/* fonts */
@font-face {
  font-weight: 400;
  font-family: "PT Sans";
  font-style: normal;
  src: local("PT Sans"), url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}
@font-face {
  font-weight: 700;
  font-family: "PT Sans";
  font-style: normal;
  src: local("PT Sans Bold"), url("../fonts/ptsans-bold.woff2") format("woff2"), url("../fonts/ptsans-bold.woff") format("woff");
}
