/* fonts */

@font-face {
  font-weight: 400;
  font-family: "PT Sans";
  font-style: normal;
  src:
    /* local("PT Sans"), */
    url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "PT Sans";
  font-style: normal;
  src:
    /* local("PT Sans"), */
    url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
}

/* var */

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --background-blue: #81b3d2; /* rgb(129, 179, 210) */
  --background-mid-blue: #669ec0;
  --background-deep-blue: #5496bd;
  --background-gray: #eeeeee;
  --background-brown: #766357;
  --background-mid-brown: #604e43;
  --background-deep-brown: #503e33;
  --background-footer: #ffffffe6; /* rgba(255, 255, 255, 0.9) */
  --background-light-gray: #f2f2f2;
  --background-mid-gray: #ebebebeb;
  --background-image-color: #cacacb;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-brown: #766357;
  --color-blacky: #333333;
  --color-rating: #666666;
  --color-blue: #81b3d2;
  --color-white-opacity: #ffffff4d; /* rgba(255, 255, 255, 0.3) */
  --color-midy-gray: #e5e5e5e5;
}

/* global */

body {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  font-style: normal;
}

.wrapper {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* header */

.main-nav {
  font-weight: bold;
  line-height: 26px;
  color: var(--color-black);
}

.site-nav {
  list-style: none;
}

.site-nav .site-nav-current {
  color: var(--color-brown);
}

/* welcome */

.welcome-block {
  position: relative;
  display: inline-block;
  width: 1200px;
  height: 509px;
  background-color: var(--background-image-color);
  background-image: url("../img/background-main.jpg");
}

.welcome-block::after {
  content: url("../img/icons/Shape.svg");
  position: absolute;
  top: 452px;
  right: 0;
  width: 1200px;
}

.welcome-pcture {
  padding-top: 75px;
}

/* 5 reasons */

.reasons > p,
.features-list p,
.reasons-items:nth-child(n+3) > p,
.search-hotel > p {
  color: var(--color-blacky);
}

.reasons-list,
.features-list {
  list-style: none;
}

p.title {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--color-black);
}

.reasons-list h3,
.reasons-list h4 {
  font-weight: bold;
  font-size: 21px;
}

.reasons-items .blue-box {
  color: var(--color-white);
  background: var(--background-blue);
}

.reasons-list .gray-box {
  background: var(--background-gray);
}

/* search hotel */

.search-hotel .title {
  font-size: 30px;
  line-height: 24px;
}

.button {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  vertical-align: middle;
  text-align: center;
  color: var(--color-white);
  text-transform: uppercase;
  border: none;
}

.search-window-button {
  width: 568px;
  min-height: 86px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  background: var(--background-brown);
}

.form-submit-button {
  width: 458px;
  min-height: 58px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  background-color: var(--background-blue);
}

/* search window */

.search-window {
  width: 568px;
  height: 395px; /* нужно будет потом поменять на min-height: ; */
}

.search-form p {
  font-weight: bold;
  line-height: 26px;
  color: var(--color-black);
  text-transform: uppercase;
}

.form-input {
  box-sizing: border-box;
  height: 38px;
  font: inherit;
  text-transform: inherit;
  background-color: var(--background-light-gray);
  border: none;
}

.data {
  width: 308px;
}

.number {
  width: 38px;
  text-align: center;
}

.form-input::placeholder {
  opacity: 1;
}

.form-input:hover {
  background-color: var(--background-mid-gray);
}

.form-input:focus {
  background: none;
  border: 2px solid var(--color-midy-gray);
  border-radius: 0;
  box-shadow: none;
}

.form-input-button {
  width: 38px;
  height: 38px;
  padding: 0;
  background-color: var(--background-light-gray);
  border: none;
}

.form-input-button:hover path,
.form-input-button:hover rect {
  fill: var(--color-black);
}

.form-input-button:active path,
.form-input-button:active rect {
  fill: var(--color-blue);
}

/* footer */


.social-list {
  list-style: none;
}

.footer-contacts-link {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--color-black);
}

.social-list a {
  display: inline-block;
  width: 46px;
  height: 48px;
  background-color: var(--background-blue);
}

.footer-copyright p {
  line-height: 26px;
}

/* убираем стрелочки у намберс */

/* -------Эфекты--------- */

/* links text - стиль-1  черный-синий-черный(0,3) */


.site-nav a {
  color: var(--color-black);
}

.site-nav a:hover,
.htmlacademy-logo:hover path {
  color: var(--color-blue);
  fill: var(--color-blue);
}

.site-nav a:active,
.htmlacademy-logo:active path {
  color: var(--color-black);
  mix-blend-mode: normal;
  opacity: 0.3;
  fill: var(--color-black);
}

/* buttons  - стиль-1  сине-белый */

.button:hover,
.social-list a:hover {
  background-color: var(--background-mid-blue);
}

.button:active,
.social-button:active path {
  color: var(--color-white-opacity);
  background-color: var(--background-deep-blue);
  fill: var(--color-white-opacity);
}

/* buttons  - стиль-2  коричнево-белый */

.search-window-button:hover {
  background-color: var(--background-mid-brown);
}

.search-window-button:active {
  color: var(--color-white-opacity);
  background-color: var(--background-deep-brown);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

/* Remove outline on the forms and links */
:active,
:hover,
:focus {
  outline: 0;
}
