{% from 'macro.twig' import symbol %}

<!DOCTYPE html>
<html class="page" lang="ru">
  <head>
    <meta charset="utf-8">
    <title>HTML Academy: {{ title }}</title>
    <link rel="icon" href="favicon.ico">
    <link rel="icon" href="img/favicons/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="img/favicons/180.png">
    <link rel="manifest" href="site.webmanifest">
    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="page-body">
      {% include 'partials/header.twig' %}
    {% if page == 'index' %}
      <main class="main-primary">
    {% else %}
      <main>
    {% endif %}
      {% block pageMain %}
        <h1>Страница в разработке</h1>
      {% endblock %}
      </main>
      {% include 'partials/footer.twig' %}
    </div>
  </body>
</html>
