<header class="filter">
  <h1 class="visually-hidden">Поиск гостиницы в Седоне по параметрам</h1>
  <form class="filter-form"  method="get" action="https://echo.htmlacademy.ru/" target="_blank">
    <fieldset class="filter-fieldset">
      <legend class="filter-fieldset-legend">Инфраструктура:</legend>
      <ul class="filter-list">
        <li class="filter-item">
          <label class="filter-item-checkbox">
            <input class="filter-item-checkbox-input" type="checkbox" name="basin" checked="checked">
            <span class="filter-item-checkbox-box">Бассейн</span>
          </label>
        </li>
        <li class="filter-item">
          <label class="filter-item-checkbox">
            <input class="filter-item-checkbox-input" type="checkbox" name="parking">
            <span class="filter-item-checkbox-box">Парковка</span>
          </label>
        </li>
        <li class="filter-item">
          <label class="filter-item-checkbox">
            <input class="filter-item-checkbox-input" type="checkbox" name="wi-fi">
            <span class="filter-item-checkbox-box">Wi-Fi</span>
          </label>
        </li>
      </ul>
    </fieldset>
    <fieldset class="filter-fieldset">
      <legend class="filter-fieldset-legend">Тип жилья:</legend>
      <ul class="filter-list">
        <li class="filter-item">
          <label class="filter-item-checkbox">
            <input class="filter-item-checkbox-input" type="checkbox" name="hotel" checked="checked">
            <span class="filter-item-checkbox-box">Гостиница</span>
          </label>
        </li>
        <li class="filter-item">
          <label class="filter-item-checkbox">
            <input class="filter-item-checkbox-input" type="checkbox" name="motel" checked="checked">
            <span class="filter-item-checkbox-box">Мотель</span>
          </label>
        </li>
        <li class="filter-item">
          <label class="filter-item-checkbox">
            <input class="filter-item-checkbox-input" type="checkbox" name="apartments" checked="checked">
            <span class="filter-item-checkbox-box">Апартаменты</span>
          </label>
        </li>
      </ul>
    </fieldset>
    <fieldset class="filter-fieldset">
      <legend class="filter-fieldset-legend">Стоимость в сутки (р):</legend>
      <div class="filter-range">
        <div class="price-controls">
          <label class="price-controls-label min-price" aria-label="Минимальная стоимость">
            от <input class="price-controls-input" type="number" name="min-price" value="0" style="width: 20px">
          </label>
          <label class="price-controls-label max-price" aria-label="Максимальная стоимость">
            до <input class="price-controls-input" type="number" name="max-price" value="3000" style="width: 42px">
          </label>
        </div>
        <div class="range-controls">
          <div class="range-controls-scale">
            <div class="range-controls-scale-bar" style="width: 80%;"></div>
          </div>
          <div class="range-controls-toggle toggle-min" tabindex="0"><span class="visually-hidden">Выбрать минимальную стоимость</span></div>
          <div class="range-controls-toggle toggle-max" tabindex="0" style="left: 80%;"><span class="visually-hidden">Выбрать максимальную стоимость</span></div>
        </div>
      </div>
      <button class="button filter-submit-button" type="submit" aria-label="Отфильтровать гостиницы по выбранным параметрам">Показать</button>
    </fieldset>
  </form>
</header>
