<footer class="footer">
  <section class="footer-contacts">
    <h2 class="visually-hidden">Как нас найти</h2>
    <a class="footer-contacts-link" href="#!">#VISITSEDONA</a>
    <br>
    <a class="footer-contacts-link" href="tel:+74956660166">ТЕЛ: +7(495) 666-01-66</a>
  </section>
  <section class="footer-social">
    <h2 class="visually-hidden">Мы в социальных сетях</h2>
    <ul class="footer-social-list">
      <li>
        <a class="button-primary footer-social-button" href="#!">
          <span class="visually-hidden">Twitter</span>
          {{ symbol('twitter', 17, 17, 'footer-social-icon') }}
        </a>
      </li>
      <li>
        <a class="button-primary footer-social-button" href="#!">
          <span class="visually-hidden">Facebook</span>
          {{ symbol('facebook', 12, 22, 'footer-social-icon') }}
        </a>
      </li>
      <li>
        <a class="button-primary footer-social-button" href="#!">
          <span class="visually-hidden">Youtube</span>
          {{ symbol('youtube', 20, 16, 'footer-social-icon') }}
        </a>
      </li>
    </ul>
  </section>
  <section class="footer-copyright">
    <h2 class="visually-hidden">Копирайт </h2>
    <p class="footer-copyright-text">Website by
      <a class="footer-copyright-link" href="https://htmlacademy.ru/intensive/htmlcss">
        {{ symbol('logo-htmlacademy', 115, 41, 'footer-copyright-icon') }}
      </a>
    </p>
  </section>
</footer>
