<header class="header">
{% if page == 'index' %}
  <a class="logo">
{% else %}
  <a class="logo" href="index.html">
{% endif %}
    <img src="img/sedona-logo.svg" alt="Логотип - город Седона" width="138" height="70">
  </a>
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-list-item"><a href="blank.html">Информация</a></li>
      <li class="nav-list-item"><a href="blank.html">Фото и видео</a></li>
      <li class="nav-list-item"><a href="blank.html">Карта штата</a></li>
      {% if page == 'catalog' %}
        <li class="nav-list-item"><a class="nav-list-item-current" href="catalog.html">Гостиницы</a></li>
      {% else %}
        <li class="nav-list-item"><a href="catalog.html">Гостиницы</a></li>
      {% endif %}
    </ul>
  </nav>
</header>
