{% set heading = 'Добро пожаловать в Седону' %}

<header class="main-header">
  <h1 class="visually-hidden">{{ heading }}</h1>
  <img class="main-header-picture" src="img/main-header.svg" alt="{{ heading }}" width="458" height="352">
</header>
