<section class="reasons">
  <h2 class="visually-hidden">5 причин поехать в Седону</h2>
  <p class="title">Седона — небольшой городок в Аризоне,<br>заслуживающий большего!</p>
  <p>Рассмотрим 5 причин, по которым Седона круче, чем гранд каньон!</p>
  <ol class="reasons-list">
    <li class="reasons-items">
      <div class="blue-box">
        <h3>Настоящий городок</h3>
        <p>— №1 —</p>
        <p>Седона - не аттракцион для туристов, там течёт своя жизнь</p>
      </div>
      <img src="img/promo-image-1.jpg" alt="Улица Седоны" width="800" height="256">
      <ul class="features-list">
        <li class="features-items">
          <h4>Жильё</h4>
          <p>Рекомендуем пожить в настоящем мотеле, всё как в кино!</p>
        </li>
        <li class="features-items">
          <h4>Еда</h4>
          <p>Всегда заказывайте фирменный бургер, вы не разочаруетесь!</p>
        </li>
        <li class="features-items">
          <h4>Сувениры</h4>
          <p>Не только китайского, но и местного производства!</p>
        </li>
      </ul>
    </li >
    <li class="reasons-items">
      <div class="blue-box">
        <h3>Там есть<br>Мост дьявола</h3>
        <p>— №2 —</p>
        <p>Да, по нему можно пройти! Если конечно вы осмелитесь</p>
      </div>
      <img src="img/promo-image-2.jpg" alt="Мост Дьявола" width="800" height="256">
    </li>
    <li class="reasons-items gray-box">
      <h3>Небольшая площадь</h3>
      <p>— №3 —</p>
      <p>Все достопримечательности находятся очень близко</p>
    </li>
    <li class="reasons-items gray-box">
      <h3>красивая дорога</h3>
      <p>— №4 —</p>
      <p>Ехать в седону из лас-вегаса совсем не скучно!</p>
    </li>
    <li class="reasons-items gray-box">
      <h3>Мало туристов</h3>
      <p>— №5 —</p>
      <p>Большинство едет в гранд каньон и толпится там</p>
    </li>
  </ol>
</section>
