<section class="reasons">
  <header class="reasons-header">
    <h2 class="visually-hidden">5 причин поехать в Седону</h2>
    <p class="reasons-header-lead">Седона — небольшой городок в Аризоне,<br>заслуживающий большего!</p>
    <p class="reasons-header-text color-text-primary">Рассмотрим 5 причин, по которым Седона круче, чем гранд каньон!</p>
  </header>
  <ol class="reasons-list">
    <li class="reasons-item reasons-item-lead">
      <div class="reasons-item-box-blue">
        <h3 class="reasons-item-title">Настоящий городок</h3>
        <p class="reasons-item-number">— №1 —</p>
        <p class="reasons-item-text">Седона - не аттракцион для туристов, там течёт своя жизнь</p>
      </div>
      <img class="reasons-image" src="img/promo-image-1.jpg" alt="Улица Седоны" width="800" height="256">
      <ul class="reasons-features-list">
        <li class="reasons-features-item">
          <h4 class="reasons-features-item-title">Жильё</h4>
          <p class="color-text-primary">Рекомендуем пожить в настоящем<br>мотеле, всё как в кино!</p><br>
        </li>
        <li class="reasons-features-item">
          <h4 class="reasons-features-item-title">Еда</h4>
          <p class="color-text-primary">Всегда заказывайте фирменный бургер,<br>вы не разочаруетесь!</p>
        </li>
        <li class="reasons-features-item">
          <h4 class="reasons-features-item-title">Сувениры</h4>
          <p class="color-text-primary">Не только китайского, но и местного<br>производства!</p>
        </li>
      </ul>
    </li>
    <li class="reasons-item reasons-item-lead">
      <div class="reasons-item-box-blue">
        <h3 class="reasons-item-title">Там есть<br>Мост дьявола</h3>
        <p class="reasons-item-number">— №2 —</p>
        <p class="reasons-item-text">Да, по нему можно пройти! Если конечно вы осмелитесь</p>
      </div>
      <img class="reasons-image" src="img/promo-image-2.jpg" alt="Мост Дьявола" width="800" height="256">
    </li>
    <li class="reasons-item reasons-item-box">
      <h3 class="reasons-item-title">Небольшая площадь</h3>
      <p class="reasons-item-number color-text-primary">— №3 —</p>
      <p class="reasons-item-text color-text-primary">Все достопримечательности находятся очень близко</p>
    </li>
    <li class="reasons-item reasons-item-box">
      <h3 class="reasons-item-title">красивая дорога</h3>
      <p class="reasons-item-number color-text-primary">— №4 —</p>
      <p class="reasons-item-text color-text-primary">Ехать в седону из лас-вегаса совсем не скучно!</p>
    </li>
    <li class="reasons-item reasons-item-box">
      <h3 class="reasons-item-title">Мало туристов</h3>
      <p class="reasons-item-number color-text-primary">— №5 —</p>
      <p class="reasons-item-text color-text-primary">Большинство едет в гранд каньон и толпится там</p>
    </li>
  </ol>
</section>
