<section class="search">
  <header class="search-header">
    <h2 class="visually-hidden">Поиск гостиницы</h2>
    <p class="search-header-lead">Заинтересовались?</p>
    <p class="search-header-text color-text-primary">Укажите предполагаемые даты поездки,<br>и мы покажем вам лучшие предложения гостиниц в седоне</p>
    <button class="button button-secondary search-button" type="button"  aria-label="Закрытть, открыть форму поиска гостиниц">Поиск гостиницы в Седоне</button>
  </header>
  <div class="search-form-wrapper">
    <img class="search-image" src="img/map.jpg" alt="Гостиницы на карте" width="1199" height="593">
    <form class="search-form" action="https://echo.htmlacademy.ru/" method="get">
      <p class="search-form-row">
        <label class="search-form-label">
          <span class="search-form-title">Дата заезда:</span>
          <input class="search-form-input search-form-date" type="text" name="date-of-check-in" value="24 апреля 2017">
        </label>
        <button class="search-form-button" type="button" aria-label="Выбрать дату заезда, календарь">
          <svg class="search-form-icons" width="21" height="23" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="img/icons/sprite.svg#calendar"/>
          </svg>
        </button>
      </p>
      <p class="search-form-row">
        <label class="search-form-label">
          <span class="search-form-title">Дата выезда:</span>
          <input class="search-form-input search-form-date" type="text" name="date-of-check-out" value="4 июля 2017">
        </label>
        <button class="search-form-button" type="button" aria-label="Выбрать дату выезда, календарь">
          <svg class="search-form-icons" width="21" height="23" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="img/icons/sprite.svg#calendar"/>
          </svg>
        </button>
      </p>
      <fieldset class="search-form-row">
        <p class="search-form-column">
          <label class="search-form-label search-form-title" for="adults" aria-label="Количество взрослых">Взрослые:</label>
          <button class="search-form-button" type="button" aria-label="Уменьшить количество взрослых">
            <svg class="search-form-icons" width="12" height="11" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="img/icons/sprite.svg#decrease"/>
            </svg>
          </button>
          <input class="search-form-input search-form-number" id="adults" type="number" name="adults" value="2">
          <button class="search-form-button" type="button" aria-label="Увеличить количество взрослых">
            <svg class="search-form-icons" width="11" height="11" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="img/icons/sprite.svg#increase"/>
            </svg>
          </button>
        </p>
        <p class="search-form-column search-form-column-second">
          <label class="search-form-label search-form-title" for="children" aria-label="Количество детей">Дети:</label>
          <button class="search-form-button" type="button" aria-label="Уменьшить количество детей">
            <svg class="search-form-icons" width="12" height="11" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="img/icons/sprite.svg#decrease"/>
            </svg>
          </button>
          <input class="search-form-input search-form-number" id="children" type="number" name="children" value="0">
          <button class="search-form-button" type="button" aria-label="Увеличить количество детей">
            <svg class="search-form-icons" width="11" height="11" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="img/icons/sprite.svg#increase"/>
            </svg>
          </button>
        </p>
      </fieldset>
      <button class="button button-primary search-form-submit-button" type="submit" aria-label="Поиск подходящих гостиниц">Найти</button>
    </form>
  </div>
</section>
