  <section class="sorting">
    <h2 class="visually-hidden">Результаты поиска</h2>
    <header class="header-sorting">
      <h3 class="sorting-title">Сортировка:</h3>
      <p class="header-sorting-lead">Найдено: 3</p>
      <ul class="header-sorting-list-primory">
        <li class="header-sorting-item-primory">
          <a class="sorting-item-primory-cost sorting-item-primory-curent">По цене</a>
        </li>
        <li class="header-sorting-item-primory">
          <a class="sorting-item-primory-rating" href="#!">По рейтингу</a>
        </li>
        <li class="header-sorting-item-primory">
          <a class="sorting-item-primory-type" href="#!">По типу</a>
        </li>
      </ul>
      <ul class="header-sorting-list-secondary">
        <li class="header-sorting-item-secondary">
          <a href="#!">
            <span class="visually-hidden">Сортировка по возрастанию</span>
            {{ symbol('lower-first', 11, 10, 'sorting-item-lower-first-icon') }}
          </a>
        </li>
        <li class="header-sorting-item-secondary">
          <a class="sorting-item-secondary-curent">
            <span class="visually-hidden">Сортировка по убыванию</span>
            {{ symbol('higher-first', 11, 10, 'sorting-item-higher-first-icon') }}
          </a>
        </li>
      </ul>
    </header>
    <ul class="card-list">
      <li class="card-item">
        <h4 class="card-item-title">Amara Resort &amp; Spa</h4>
        <img class="card-item-image" src="img/amara-resort-spa.jpg" alt="Гостиница Amara Resorting, вид снаружи" width="135" height="90">
        <p class="card-item-type">Гостиница</p>
        <p class="card-item-cost">От 4000 Р.</p>
        <a class="button button-primary button-card-details" href="#!">Подробнее</a>
        <a class="button button-secondary button-card-booking" href="#!">Забронировать</a>
        <div class="card-item-rating-box">
          <ul class="star-rating-list">
            <li class="star-rating-item"></li>
            <li class="star-rating-item"></li>
            <li class="star-rating-item"></li>
            <li class="star-rating-item"></li>
          </ul>
          <p class="guest-rating">Рейтинг: 8,5</p>
        </div>
      </li>
      <li class="card-item">
        <h4 class="card-item-title">Desert Quail Inn</h4>
        <img class="card-item-image" src="img/desert-quail-inn.jpg" alt="Гостиница Desert Quail Inn, вид снаружи" width="135" height="90">
        <p class="card-item-type">Мотель</p>
        <p class="card-item-cost">От 3000 Р.</p>
        <a class="button button-primary button-card-details" href="#!">Подробнее</a>
        <a class="button button-secondary button-card-booking" href="#!">Забронировать</a >
        <div class="card-item-rating-box">
          <ul class="star-rating-list">
            <li class="star-rating-item"></li>
            <li class="star-rating-item"></li>
            <li class="star-rating-item"></li>
          </ul>
          <p class="guest-rating">Рейтинг: 8,9</p>
        </div>
      </li>
      <li class="card-item">
        <h4 class="card-item-title">Villas at Poco Diablo</h4>
        <img class="card-item-image" src="img/villas-at-poco-diablo.jpg" alt="Гостиница Villas at Poco Diablo, вид снаружи" width="135" height="90">
        <p class="card-item-type">Апартаменты</p>
        <p class="card-item-cost">От 2000 Р.</p>
        <a class="button button-primary button-card-details" href="#!">Подробнее</a>
        <a class="button button-secondary button-card-booking" href="#!">Забронировать</a>
        <div class="card-item-box-rating">
          <ul class="star-rating-list">
            <li class="star-rating-item"></li>
            <li class="star-rating-item"></li>
          </ul>
          <p class="guest-rating">Рейтинг: 9,2</p>
        </div>
      </li>
    </ul>
  </section>
