{% set heading = 'Добро пожаловать в Седону' %}

<header class="welcome-block">
  <h1 class="visually-hidden">{{ heading }}</h1>
  <img class="welcome-pcture" src="img/welcome.svg" alt="{{ heading }}" width="458" height="352">
</header>
