.cards-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cards-item {
  display: grid;
  grid-template-columns: 135px 1fr 135px;
  gap: 30px;
  padding: 22px 72px 30px;
  border-top: 1px solid var(--color-midy-gray);
}

.cards-item:last-child {
  border-bottom: 1px solid var(--color-midy-gray);
}

.cards-item-image {
  display: block;
  margin-top: 6px;
}

.cards-item-title {
  margin: 0 0 7px;
  font-size: 21px;
  line-height: 26px;
}

.cards-item-info-group {
  display: flex;
  margin: 0 10px 16px 0;
}

.cards-item-info {
  min-width: 110px;
  margin: 0 7px 0 0;
}

.cards-item-buttons {
  display: flex;
}

.cards-button {
  display: flex;
  box-sizing: border-box;
  min-height: 27px;
  margin-right: 6px;
  padding: 3px 17px;
}

.cards-rating-group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cards-star-rating {
  margin: 6px 0 48px;
}

.cards-star-rating-4 {
  width: 96px;
  height: 17px;
  background-image: url("../img/icons/star.svg");
}

.cards-star-rating-3 {
  width: 72px;
  height: 17px;
  background-image: url("../img/icons/star.svg");
}

.cards-star-rating-2 {
  width: 48px;
  height: 17px;
  background-image: url("../img/icons/star.svg");
}

.cards-guest-rating {
  margin: 0;
  padding: 3px 14px;
  background-color: var(--background-light-gray);
}
