.filter {
  background-color: var(--background-image-color);
  background-image: url("../img/background-catalog.jpg");
  background-repeat: no-repeat;
}

.filter-form {
  display: flex;
  color: var(--color-white);
  background: none;
}


.filter-fieldset {
  border: none;
}

.filter-fieldset-legend {
  font-weight: 700;
  font-size: 16px;
}

.filter-list {
  list-style: none;
}

.filter-input-text-group {
  display: flex;
  border: 2px solid var(--color-white);
}

.filter-input-text-group::after {
  content: "";
  width: 2px;
  height: 22px;
  background-color: var(--color-white);
}

.filter-input-text {
  color: inherit;
  background: none;
  border: none;
}

.input-text-high {
  order: 3;
}

.filter button {
  padding: 7px 35px 8px 36px;
  background: none;
  border: 2px solid var(--color-white);
}
