.filter {
  padding: 27px 72px 31px;
  background-color: var(--background-midy-gray);
  background-image: url("../img/background-catalog.jpg");
  background-repeat: no-repeat;
}

.filter-form {
  display: flex;
  color: var(--color-white);
  background: none;
}

.filter-fieldset {
  width: 256px;
  margin: 0;
  padding: 0;
  border: none;
}

.filter-fieldset-legend {
  font-weight: 700;
  font-size: 16px;
}

.filter-list {
  padding: 0;
  list-style: none;
}

.filter-input-number-group {
  padding: 7px;
  border: 2px solid var(--color-white);
}

.filter-input-number-group::after {
  content: "";
  width: 2px;
  height: 22px;
  background-color: var(--color-white);
}

.filter-input-number {
  color: inherit;
  background: none;
  border: none;
}

.input-text-high {
  order: 3;
}

.filter button {
  padding: 7px 35px 8px 36px;
  background: none;
  border: 2px solid var(--color-white);
}
