/* footer */

.social-list {
  list-style: none;
}

.footer-contacts-link {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.social-button {
  display: inline-block;
  width: 46px;
  height: 48px;
  color: var(--color-white);
  background-color: var(--color-blue);
}

.social-button:hover {
  background-color: var(--background-mid-blue);
}

.social-button:active {
  color: var(--color-dark-white);
  background-color: var(--background-deep-blue);
}

.footer-copyright p {
  line-height: 26px;
}

.htmlacademy-logo-icon {
  color: var(--color-natural-black);
}

.htmlacademy-logo-icon:hover {
  color: var(--color-blue);
}

.htmlacademy-logo-icon:active {
  color: var(--color-grayny);
}
