/* footer */

.footer {
  line-height: 26px;
}


.footer-social-list {
  list-style: none;
}

.footer-contacts-link {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.footer-social-button {
  display: block;
  width: 46px;
  height: 48px;
  color: var(--color-white);
}

.footer-copyright-icon {
  color: var(--color-natural-black);
}

.footer-copyright-icon:hover {
  color: var(--color-blue);
}

.footer-copyright-icon:active {
  color: var(--color-grayny);
}
