/* global */

body {
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  background-color: var(--background-light-gray);
}

a {
  color: inherit;
  text-decoration: none;
}

svg {
  fill: currentColor;
}

// img {
//   max-width: 100%;
//   height: auto;
// }
