/* header */

/* .main-header {
  height: 56px;
} */

.main-nav {
  font-weight: 700;
  line-height: 26px;
}
/*
.main-logo {
  position: absolute;
  z-index: 2;
} */

.site-nav {
  list-style: none;
}

.site-nav-current {
  color: var(--color-brown);
}

.site-nav a:hover {
  color: var(--color-blue);
}

.site-nav a:active {
  color: var(--color-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}
