/* header */

.header {
  position: relative;
}

.logo {
  position: absolute;
  left: 50%;
  z-index: 1;
  display: inline-block;
  margin: 0 auto;
  transform: translate(-50%, 0);
}

.nav {
  position: relative;
}

.nav-list {
  display: grid;
  grid-template-columns: 300px  300px 300px 300px;
  margin: 0;
  padding: 15px 0;
  list-style: none;
  font-weight: 700;
  line-height: 26px;
}

.nav-list-item:nth-child(4n),
.nav-list-item:nth-child(4n-1) {
  text-align: right;
}

.nav-list-item:nth-child(odd) {
  padding-left: 72px;
}

.nav-list-item:nth-child(even) {
  padding-right: 72px;
}

.nav-list-item-current {
  color: var(--color-brown);
}

.nav-list a:hover {
  color: var(--color-blue);
}

.nav-list a:active {
  color: var(--color-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}
