.page-body {
  display: grid;
  align-content: start;
  grid-template-rows: min-content 1fr min-content;
  width: 1200px;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--background-white);
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.main-primary {
  grid-column: 1 ~"/" -1;
  grid-row: 2 ~"/" -1;
}
