/* 5 reasons */

.reasons {
  text-align: center;
}

.reasons-header-lead {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.reasons-header-text {
  line-height: 26px;
}

.reasons-list {
  list-style: none;
}

.reasons-item-title {
  font-weight: 700;
  font-size: 21px;
}

.reasons-features-list {
  list-style: none;
}

// .reasons-features-items::before {
//   background-image: url("../img/");
// }

.reasons-features-item-title {
  font-weight: 700;
  font-size: 21px;
}

.reasons-items-box-blue {
  color: var(--color-white);
  background-color: var(--color-blue);
}

.reasons-items-box {
  background-color: var(--background-gray);
}
