/* 5 reasons */

.reasons > p,
.features-list p,
.reasons-items:nth-child(n+3) > p,
.search-hotel > p {
  color: var(--color-blacky);
}

.reasons-list {
  list-style: none;
}

.features-list {
  list-style: none;
}

p.title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--color-black);
}

.reasons-list h3,
.reasons-list h4 {
  font-weight: 700;
  font-size: 21px;
}

.reasons-items .blue-box {
  color: var(--color-white);
  background: var(--color-blue);
}

.reasons-list .gray-box {
  background: var(--background-gray);
}
