.sorting {
  display: flex;
}

.sorting-lead {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.sorting-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}


.sorting-list-primary {
  list-style: none;
  font-size: 12px;
  line-height: 18px;
}

.sorting-primary {
  color: var(--color-mid-black);
  border-bottom: 1px dotted var(--color-blue);
}

.sorting-primary:hover {
  color: var(--color-blue);
  border-color: var(--color-blue);
}

.sorting-primary:active {
  color: var(--color-black);
  border: none;
}

.sorting-primary-current,
.sorting-primary-current:hover,
.sorting-primary-current:focus,
.sorting-primary-current:active {
  color: var(--color-blue);
  border: none;
}

.sorting-list-secondary {
  list-style: none;
}

.sorting-secondary {
  color: var(--color-mid-gray);
}

.sorting-secondary:hover {
  color: var(--color-black);
}

.sorting-secondary-current,
.sorting-secondary-current:hover,
.sorting-secondary-current:focus,
.sorting-secondary-current:active,
.sorting-secondary:active {
  color: var(--color-blue);
}
