.header-sorting {
  display: flex;
}

.header-sorting-lead {
  order: -1;
  width: 135px;
  margin-top: 29px;
  margin-left: 73px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.sorting-title {
  width: 110px;
  margin-top: 31px;
  margin-left: 28px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}


.header-sorting-list-primory {
  display: flex;
  margin-top: 32px;
  margin-left: 6px;
  padding: 0;
  list-style: none;
  font-size: 12px;
  line-height: 18px;
}

.sorting-item-primory-type {
  margin-left: 32px;
}

.sorting-item-primory-rating {
  margin-left: 33px;
}

.sorting-item-primory-curent {
  color: var(--color-blue);
}

.header-sorting-item-primory a:not(.sorting-item-primory-curent) {
  color: var(--color-black);
  border-bottom: 1px dotted var(--color-black);
  opacity: 0.3;
}

.header-sorting-item-primory:hover a:not(.sorting-item-primory-curent) {
  color: var(--color-blue);
  border-color: var(--color-blue);
  opacity: 1;
}

.header-sorting-item-primory:active a:not(.sorting-item-primory-curent) {
  color: var(--color-black);
  border-color: var(--color-black);
  opacity: 1;
}

.header-sorting-list-secondary {
  display: flex;
  list-style: none;
}

.sorting-item-secondary-curent {
  color: var(--color-blue);
}

.header-sorting-item-secondary a:not(.sorting-item-secondary-curent) {
  color: var(--color-mid-grayny);
}

.header-sorting-item-secondary:hover a:not(.sorting-item-secondary-curent) {
  color: var(--color-black);
}

.header-sorting-item-secondary:focus a:not(.sorting-item-secondary-curent) {
  color: var(--color-blue);
}

.header-sorting-item-secondary:active a:not(.sorting-item-secondary-curent) {
  color: var(--color-blue);
}

.card-list {
  padding: 0;
  list-style: none;
}

.card-item {
  padding-left: 73px;
  border-top: 1px solid var(--color-midy-gray);
}

.card-item:last-child {
  border-bottom: 1px solid var(--color-midy-gray);
}

.card-item-title {
  font-size: 21px;
  line-height: 26px;
}

.button-card-details {
  padding: 3px 16px 3px 17px;
}

.button-card-booking {
  padding: 3px 17px 3px 16px;
}

.star-rating-list {
  list-style: none;
}

.star-rating-item::after {
  content: "";
  bottom: 0;
  display: block;  // возможно это мусор, проверить вконце
  width: 19px;
  height: 17px;
  margin-left: 5px;
  background: url("../img/icons/star.svg") no-repeat;
}

.guest-rating {
  padding: 3px 12px 3px 12px;
  background-color: var(--background-light-gray);
}
