.sorting {
  display: flex;
}

.sorting-lead {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.sorting-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}


.sorting-list-primary {
  list-style: none;
  font-size: 12px;
  line-height: 18px;
}

.sorting-primary {
  color: var(--color-mid-black);
  border-bottom: 1px dotted var(--color-blue);
}

.sorting-primary:hover {
  color: var(--color-blue);
  border-color: var(--color-blue);
}

.sorting-primary:active {
  color: var(--color-black);
  border: none;
}

.sorting-primary-current,
.sorting-primary-current:active,
.sorting-primary-current:focus {
  color: var(--color-blue);
  border: none;
}

.sorting-list-secondary {
  list-style: none;
}

.sorting-secondary {
  color: var(--color-mid-gray);
}

.sorting-secondary:hover {
  color: var(--color-black);
}

.sorting-secondary-current,
.sorting-secondary-current:hover,
.sorting-secondary:active {
  color: var(--color-blue);
}

.cards-list {
  padding: 0;
  list-style: none;
}

.cards-item {
  padding-left: 73px;
  border-top: 1px solid var(--color-midy-gray);
}

.cards-item:last-child {
  border-bottom: 1px solid var(--color-midy-gray);
}

.cards-item-title {
  font-size: 21px;
  line-height: 26px;
}

.cards-button {
  padding: 3px 16px;
}

.star-rating-4 {   // тест звезд в "ручном" режиме и с "кривыми" звездами
  width: 91px;
  height: 19px;
  background-image: url("../img/icons/star.svg");
  background-repeat: space;
  background-size: 19px auto;
}

.cards-guest-rating {
  padding: 3px 12px 3px 12px;
  background-color: var(--background-light-gray);
}
