/* welcome */

.welcome {
  position: relative;
  padding: 77px;
  background-color: var(--background-midy-gray);
  background-image: url("../img/background-main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-picture {
  display: block;
  margin: 0 auto;
}

.welcome::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 57px;
  background-image: url("../img/icons/welcome-mask.svg");
}
